<?xml version="1.0" encoding="utf-8"?>
<!--
https://docs.microsoft.com/en-us/dotnet/core/deploying/deploy-with-cli
https://go.microsoft.com/fwlink/?LinkID=208121. 
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/visual-studio-publish-profiles?view=aspnetcore-3.0
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <DisableFody>true</DisableFody>
    <PublishDir>..\..\exe\publish\</PublishDir>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
    <PublishSingleFile>true</PublishSingleFile>
    <SelfContained>true</SelfContained>
    <!-- <PublishTrimmed>true</PublishTrimmed> -->
    <!-- <PublishReadyToRun>true</PublishReadyToRun>  increased size-->
  </PropertyGroup>

  <!-- <ItemGroup>no effect --> 
  <!--   <RuntimeHostConfigurationOption Include="System.Globalization.Invariant" Value="true" /> -->
  <!-- </ItemGroup> -->

</Project>